#iduno{
	color:green;
	display:block;
}

.enlaces{
	color: red;
	font-size:19px; 
}

a{
	color:black;
}

.enlaces .iddos{
	color:red;
}

.enlaces span{
	color:blue;
}

.popup{
	background: rgba(0, 0, 0, .9);
	display:block;
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

.popup p{
	text-align: center;
	color: white;
}